.benefits-article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.14;
  color: var(--second-black-color);
}
.benefits-article__text {
  font-size: 12px;
  line-height: 1.67;
  color: var(--second-black-color);
}
