.facts {
  padding-bottom: 50px;
  padding-top: 40px;
  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 147px;
  }
}

.facts__title {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 23px;
  }
}
.facts__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    justify-content: unset;
  }
}
.facts__card {
  & span {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.15;
    color: var(--purple-color);
    margin-bottom: 5px;
    @media screen and (min-width: 1200px) {
      margin-right: 20px;
      font-size: 64px;
      line-height: 1.16;
    }
  }
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 20px;
    }
  }
}
.facts__text {
  font-size: 12px;
  line-height: 1.17;
  color: var(--black-color);
  @media screen and (min-width: 768px) {
    width: 186px;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    font-size: 16px;
    line-height: 1.31;
  }
}
