.portfolio {
  padding-bottom: 40px;
  background-color: #f4f4f4;
  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
  }
}
.portfolio__title {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
  }
}
.portfolio__wrap {
  display: flex;
  margin-bottom: 30px;
  overflow: scroll;
  @media screen and (min-width: 1200px) {
    overflow: unset;
    margin-bottom: 20px;
  }
}
.portfolio__article {
  // width: 580px;
  // height: 488px;
  min-width: 278px;
  min-height: 306px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  & img {
    width: 100%;
  }
  & div {
    display: flex;
    justify-content: center;
  }
  &:first-child {
    margin-right: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 580px;
    height: 488px;
  }
}
.portfolio-article__text {
  font-weight: 700;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-black-color);
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.17;
    margin-top: 15px;
    margin-bottom: 26px;
  }
}
.portfolio-article__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 40px;
  border: 1px solid var(--purple-color);
  border-radius: 10px;
}
.portfolio-article__btn--text {
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--purple-color);
}
.portfolio__footer {
  padding: 20px;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    border-radius: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding: 35px 40px 44px 40px;
  }
}
.portfolio-footer__title {
  min-width: 237px;
  font-weight: 700;

  font-size: 18px;
  line-height: calc(21 / 18);

  margin-bottom: 10px; // as
  text-align: center; //mob
  color: var(--second-black-color);
  & span {
    color: var(--purple-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    text-align: unset;
    margin-right: 32px;
  }
}
.portfolio-footer__text {
  // font-size: 14px;
  // line-height: 1.43;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--black-color);

  margin-bottom: 20px;
  text-align: center; //mob
  & span {
    font-weight: 700;
    font-style: italic;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.43;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 35px;
    margin-bottom: 0;
    text-align: unset;
  }
}
.portfolio-footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 193px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--purple-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-color);
  // margin-left: auto;
  margin: 0 auto;
}
