.work {
  padding-bottom: 40px;
  background-color: #f4f4f4;
  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
  }
}
.work__title {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 33px;
  }
}
.work__text {
  width: 203px;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--second-black-color);
  & span {
    font-weight: 700;
    font-style: italic;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.work__wrap {
  display: flex;
  overflow: scroll;
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow: unset;
  }
}
.work__article {
  display: flex;
  justify-content: space-between;
  min-width: 278px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
  &:not(:last-child) {
    margin-right: 15px;
    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 380px;
    padding-top: 30px;
    padding-right: 30px;
  }
}
.work__number {
  margin-top: 10px;
}
.work__check {
  margin-bottom: 7px;
}
